
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    -webkit-tap-highlight-color: transparent;
    background-color: #050706;
    overflow-x: hidden;
}
body {
    font-family: sans-serif;
    /* background-image: url('/img/duotone.png');
    object-fit: cover; */
}
::-webkit-scrollbar {
    width: 12px;
    background:rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    height: 85px;
    background: linear-gradient( #000, #73c48a, rgba(9, 170, 90, 0.57));
    border-radius: 6px;
}
::selection {
    background: #18191a;
    color: #4dc999;
}
nav {
    background-color: #000;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 10000;
}
.escondido {
    background-color: transparent;
    position: relative;
    height: 80px;
    width: 100%;
    z-index: 2;
}
#toggle {
    top: 0.5em;
    position: relative;
    width: 50px;
    height: 50px;
    background: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#toggle.active {
    background: #000;
}
#toggle::before {
    content:'';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #d5d5d5;
    transition: 0.2s;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 #d5d5d5;
}
#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #d5d5d5;
}
#toggle::after {
    content:'';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #d5d5d5;
    transition: 0.2s;
    transform: translateY(10px);
}
#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);

}
label.logo {
    color: rgba(255, 255, 255, 0.925);
    font-size: 55px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
.logocrow {
    width: 135px;
    margin-top: -0.2em;
}
.menu-urls {
    float: right;
    margin-right: 20px;
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Aladin', cursive;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: #b3b3b3;
    font-size: 17.5px;
    padding: 7px 13px;
    text-transform: uppercase;
}
nav ul li a:hover {
    color:#fff;
    transition: .6s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}
#check {
    display:none;
}
.small {
    position: fixed;
    width: 100%;
    top: 160px;
    /* color: red; */
    z-index: 999;
}
#smallbot {
    display: none;
}
#smallbot:checked ~ #smile{
    transform: translateX(95px);
}
.smilzin{
    /* display: block; */
    position: fixed;
    /* transition: .50s; */
    top: 15.5em;
}
#smile {
    position: relative;
    width: 17px;
    height: 40px;
    background: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* #smile:hover {
    transform: translateX(95px);
    background:rgb(0, 0, 0);
} */
#smile:active {
    /* content:''; */
    /* transform: translateX(95px); */
    background:rgb(0, 0, 0);
}
#smile::before {
    content:'';
    position: absolute;
    width: 12px;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: 0.2s;
    transform: translateY(-4.5px) rotate(45deg);
    /* box-shadow: 0 10px 0 rgb(255, 255, 255); */
}
#smile.active::before {
    /* transform: translateX(95px); */
    box-shadow: 0 0 0 rgb(255, 255, 255);
}
#smile::after {
    content:'';
    position: absolute;
    width: 12px;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: 0.2s;
    transform: translateY(4.5px) rotate(-45deg);
}
/* #smile.active::after {
    transform: translateX(95px);
} */
/* #smallbot:checked ~ .menu-urls { */
    /* left: 0; */
/* } */
/* #smallbot:checked ~ .checkbtn { */
    /* color:rgb(223, 154, 26); */
    /* transition: .5s; */
/* } */
.redes {
    width: 40px;
    background: #000;
    position: fixed;
    top: 11em;
    left: -100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s;
    /* z-index: 998 */
    /* transition: .5s; */
}
.redes li {
    position: relative;
    left: 5px;
    padding-top: 1em;
}
.redes li.other {
    padding-bottom: 1em;
}
.rede-social {
    width: 25px;
    height: 25px;
    filter: grayscale(100%) brightness(99);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* .rede-social:hover{
    width: 0;
    height: 0;
} */
.rede-social.a:hover {
    width: 25px;
    height: 25px;
    filter: none;
    transition: .5s;
}
.rede-social.b:hover {
    width: 25px;
    height: 25px;
    filter: none;
    transition: .5s;
}
.rede-social.c:hover {
    width: 25px;
    height: 25px;
    filter: none;
    transition: .5s;
}
.rede-social.d:hover {
    width: 25px;
    height: 25px;
    filter: none;
    transition: .5s;
}
.rede-social.e:hover {
    width: 25px;
    height: 25px;
    filter: none;
    transition: .5s;
}
#smallbot:checked ~ .smilzin {
    transition: .2s;
    left: 40px;
}

#smallbot:checked ~ .redes {
    left: 0;
    transition: .3s;
}

#smallbot:checked ~ .smilzin #smile::before {
    width: 15px;
    transform: translateY(.5px) rotate(137deg);
    transition: .3s;
}
#smallbot:checked ~ .smilzin #smile::after {
    width: 15px;
    transform: translateY(1px) rotate(45deg);
    transition: .3s;
}
#smallbot:checked ~ .small {
    z-index: 1000;
}
.container{
    padding: 50px 35px;
}
.container2{
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Slackey', cursive;
    color: #d8d8d8;
    position: relative;
    text-align: center;
    padding: 30px 0px;
    font-size: 35px;
}
section.home {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* filter: blur(100%); */
    background-image: linear-gradient(358deg, rgba(109, 25, 121, 0.377), rgba(8, 6, 6, 0.151) ) , url(https://uploaddeimagens.com.br/images/003/432/928/full/duotone_%282%29_%281%29.png?1631741765);
    background-blend-mode: screen;
    background-repeat:repeat-y;
    background-size:cover;
    filter: blur(100%);
}
.textos li {
    color: #d8d8d8;
    position: relative;
    text-align:justify;
    align-items: center;
    padding: 20px 225px;
    z-index:30;
}
ul.textos.a li a {

    color: #121212;
}
ul.textos.a li a:hover {
    color: #d8d8d8;
    transition:0.5s;
}
.textos li a {
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    font-size: 18px;
}
nav.star {
    background: transparent;
    display:block;
    position: relative;
    z-index: 4;
    /* left: 24.5em; */
}
nav.star ul {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
}
.star ul li{
    display: inline-block;
    line-height: 5em;
    margin: 0;
}
nav.star ul li a {
    color: #cfcfcf;
    background: rgba(170, 9, 143, 0.521);
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    padding: 0.8em 0.8em;
    text-transform: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
}
.star ul li a:hover {
    color: rgb(255, 255, 255);
    background: rgba(114, 5, 109, 0.842);
}
.testa a  {
    
    color:rgba(9, 170, 90, 0.945);
}
.testa a:hover {
    color:#50ee85;
    transition: .5s;
}


@media (max-width: 952px) {
    .logocrow {
        width: 96px;
        margin-top: 0.12em;
    }
    label.logo{
        font-size: 46px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .forms {
        width: 440px;
    }
}
@media (max-width: 858px) {
    h1 {
        font-size: 25px;
    }
    .textos li a {
        font-size: 15px;
    }
    .checkbtn {
        display: block;
    }
    .menu-urls {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #050706;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked ~ .menu-urls {
        left: 0;
    }
    #check:checked ~ .checkbtn {
        color:rgb(223, 154, 26);
        transition: .5s;
    }
    .textos li {
    padding: 10px 10px;
    }
    .redes {
        width: 40px;
        background: #000;
        position: fixed;
        top: 11em;
        right: -100%;
        left: auto;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transition: .3s;
    }
    #smallbot:checked ~ .redes {
        left: auto;
        right: 0;
        transition: .3s;
    }
    .smilzin {
        position: fixed;
        top: 3.5em;
        position: absolute;
        right: 0;
    }
    #smallbot:checked ~ .smilzin {
        transition: .2s;
        left: auto;
        right: 40px;
    }
    #smile {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    #smile::before {
        transform: translateY(-4.5px) rotate(130deg);
    }
    #smile::after {
        transform: translateY(4.5px) rotate(231deg);
    }
    .redes li {
        position: relative;
        left: 8px;
        padding-top: 1em;
    }
    .forms {
        width: 270px;
    }
    .gifs {
        width: 321px;
    }
}
@media (max-width: 370px) {
    .forms {
        width: 270px;
    }
    .gifs {
        width: 299px;
    }
}